html,
body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  background-color: rgba(54, 54, 54, 0.432);
}

#root {
  flex: 1;
}

.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
  max-width: 80vw;
  margin: auto;
  background-color: pink;
}

.Content {
  flex: 1;
}

.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(255, 99, 99);
}

.HeaderRight {
  display: flex;
  padding-right: 2em;
  padding-top: 1em;
  gap: 2em;
}

.HeaderLeft {
  display: flex;
  padding-left: 2em;
  padding-top: 1em;
  gap: 2em;
}

.PriceContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2em;
}

.PriceContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 25vw;
}

.logo {
  border-radius: 50%;
}

.Prices {
  border: rgb(255, 0, 0) solid 5px;
  border-radius: 15%;
  gap: 1em;
  padding: 1em;
}

.Slideshow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* margin-left: 15%; */
  margin: auto;
  padding-top: 10vh;
}

.Description {
  width: 75vw;
  display: flex;
  flex-direction: column;
  padding-top: 3vh;
  margin: auto;
  text-align: center;
}

.Footer {
  margin-top: auto;
  padding: 0.25em;
  background-color: rgb(253, 166, 181);
  text-align: center;
}
